
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  width: 100dvw;
  background: url('./assets/bg.png');
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: Geneva, Verdana, sans-serif;
}


a {
  text-decoration: none;
}

button {
  padding: 0.6rem;
  outline: none;
  border-radius: 25px;
  background-color: #3a3af9;
  color: #fff;
  border: 2px solid #3a3af9;
  width: 7rem;
  transition: background 250ms ease;
}

button:hover {
  background-color: #5757f7;
  border: 2px solid #5757f7;
}



#title {
  height: 32%;
  width: 100%;
  /* background: beige; */
  text-align: center;
}

#title .logo img {
  width: 20%
}

#title .title-text h1 {
  margin-top: 2rem;
  font-size: 3rem;
}

#title .title-text p {
  font-size: 1.3rem;
}



#quiz {
  height: 68%;
  width: 100%;
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* gap: 1rem; */
}

#quiz-box,
#result-box {
  height: 70%;
  width: 50%;
  background: #fffad8;
  margin-top: 3rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#progress-bar {
  background: #ddd;
  height: 10px;
  width: 100%;
  border-radius: 6px;
  /* margin-top: 10px; */
}

#progress {
  background: #3a3af9;
  height: 100%;
  width: 0%;
  border-radius: 6px;
  transition: width 1s ease;
}

.hidden {
  display: none !important;
  /* background: #000; */
}

#result-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

#result-box h2 {
  font-size: 2rem;
}

#result-box .char-img {
  /* max-height: fit-content; */
  height: 55%;
}

#result-box .char-img img {
  height: 100%;
  /* width: ; */
}

#char-name {
  font-size: 1.4rem;
  color: blue;
  margin-bottom: 0.5rem;
}

#result-box .restart-btn {
  text-align: right;
  position: relative;
  bottom: -0.5rem;
  right: 1rem;
}


footer {
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}


footer .footer-top {
  width: 100%;
  background: #5757f7;
  display: flex;
  justify-content: center;
}

footer .footer-top .logo {
  width: 15%;
  /* background: #000; */
}

footer .footer-top .text {
  width: 45%;
  /* background: red; */
  font-size: small;
  color: #fff;
}

footer .copyright {
  background-color: #3a3af9;
  text-align: center;
  font-size: small;
  color: #fffad8;
  letter-spacing: 2px;
}

footer .copyright a {
  text-decoration: none;
  color: #fffad8;
}