/* @import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Schoolbell&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Schoolbell&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Schoolbell&display=swap');

:root {
  --primary-blue: rgb(39,94,170);
  --primary-blue-dark: rgb(18,51,103);
  --white: rgb(240,240,240);
  --primary-red: rgb(196,60,57);
  --bg-yellow: rgb(255, 250, 216);
  --bg-white: rgb(238, 242, 246);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  width: 100dvw;
  background: url('./assets/bg.png');
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* font-family: Geneva, Verdana, sans-serif; */
  /* font-family: "Karla", sans-serif; */
  /* font-family: "Comfortaa", sans-serif; */
  font-family: "Fredoka", sans-serif;
  color: var(--primary-blue-dark);
}


a {
  text-decoration: none;
}

button {
  padding: 0.6rem;
  outline: none;
  border-radius: 25px;
  background-color: var(--primary-blue);
  color: var(--white);
  border: 2px solid var(--primary-blue);
  width: 7rem;
  transition: background 250ms ease;
}

button:hover {
  background-color: var(--primary-blue-dark);
  border: 2px solid var(--primary-blue-dark);
}



#title {
  height: 32%;
  width: 100%;
  /* background: beige; */
  text-align: center;
}

#title .logo img {
  width: 20%
}

#title .title-text h1 {
  margin-top: 1rem;
  font-size: 3.5rem;
  font-family: "Schoolbell", cursive;
  letter-spacing: 2px;
}

#title .title-text p {
  font-size: 1.3rem;
  /* font-family: "Schoolbell", cursive; */
}



#quiz {
  height: 68%;
  width: 100%;
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* gap: 1rem; */
}

#quiz-box,
#result-box {
  height: 75%;
  width: 50%;
  background: var(--bg-yellow);
  margin-top: 3rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 10px;
}

#quiz-box h2 {
  font-size: 1.75rem;
  font-weight: 400;
}

#progress-bar {
  background: var(--white);
  height: 10px;
  width: 100%;
  border-radius: 6px;
  /* margin-top: 10px; */
}

#progress {
  background: var(--primary-blue);
  height: 100%;
  width: 0%;
  border-radius: 6px;
  transition: width 1s ease;
}

.hidden {
  display: none !important;
  /* background: #000; */
}

#options {
  height: 75%;
  width: 60%;
  margin: 0 auto;
  /* background-color: aquamarine; */
  display: grid;
  /* grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

#options .option-card {
  /* height: 55%;
  width: 55%; */
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#options .option-card img {
  /* border-radius: 10px 10px 0 0; */
  height: 80%;
}

#options .option-card span {
  /* height: auto; */
  /* width: 100%; */
  /* text-align: center; */
  /* align-items: center; */
  margin-top: 0.45rem;
  font-size: 1.15rem;
}

#options .option-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

#options .option-card.selected {
  border: 3px solid var(--primary-blue);
  /* background-color: #bedcf9; */
}


#result-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

#result-box h2 {
  font-size: 2rem;
  font-weight: 500;
}

#result-box .char-img {
  /* max-height: fit-content; */
  height: 55%;
}

#result-box .char-img img {
  height: 100%;
  /* width: ; */
}

#char-name {
  font-size: 2.4rem;
  color: var(--primary-red);
  margin-bottom: 0.5rem;
  font-family: "Schoolbell", cursive;
}

#result-box .restart-btn {
  text-align: right;
  position: relative;
  bottom: -0.5rem;
  right: 1rem;
}


footer {
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}


footer .footer-top {
  width: 100%;
  background: var(--primary-blue-dark);
  display: flex;
  justify-content: center;
}

footer .footer-top .logo {
  width: 45%;
  /* background: #000; */
  /* display: flex;
  justify-content: right; */
  /* padding: 0.1rem; */
  /* margin: auto 0; */
}

footer .footer-top .logo img {
  width: 20%;
  position: relative;
  right: -78%;
  top: 0.25rem;
}

footer .footer-top .text {
  width: 55%;
  /* background: red; */
  font-size: small;
  color: #fff;
  padding: 0.5rem;
}

footer .copyright {
  background-color: var(--primary-blue);
  text-align: center;
  font-size: small;
  color: #fffad8;
  letter-spacing: 2px;
  padding: 0.25rem;
}

footer .copyright a {
  text-decoration: none;
  color: #fffad8;
}